 body{
            font-family:Arial;
            background:#f4f6fb;
            padding:30px;
        }
        .invoice-box{
            background:white;
            padding:25px;
            border-radius:10px;
            max-width:600px;
            margin:auto;
            box-shadow:0 4px 12px rgba(0,0,0,0.1);
        }
        h2{
            text-align:center;
            color:#1565c0;
        }
        p{
            margin:8px 0;
        }
        .total{
            font-weight:bold;
            font-size:18px;
            color:green;
        }
        button{
            padding:10px;
            margin-top:15px;
            width:100%;
            background:#1565c0;
            color:white;
            border:none;
            border-radius:5px;
            cursor:pointer;
        }